.hero{
    background-image: url('../assets/hero.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    
}
.heroimg{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.firstletter{
    color: rgb(236, 38, 38);
    font-size: 30px;
    font-weight: 700;
  
}
.secondletter{
    color:black;
    font-size: 50px;
    font-weight: 700;
    
}
.mainrequest{
    display: flex;
   margin-top: -48px;
}
.requestnow{
    background-color: rgb(236, 38, 38);
    color: white;
    padding:0 50px;
    padding-bottom: 40px;
    padding-top:20px;
}
.donatenow{
    background-color: black;
    color: white;
    padding: 0 50px;
    padding-bottom: 40px;
    padding-top:20px;
}
.title1{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
}
.learnmorebtn{
    width:fit-content;
    border:none;
    border-radius: 5px;
    background-color: rgb(236, 38, 38);
    padding:15px 40px;
    cursor: pointer;
    color: white;
    font-weight: 700;
    -webkit-transition: ease-out 0.7s;
   -moz-transition: ease-out 0.7s;
    transition: ease-out 0.7s;
}
.learnmorebtn:hover{
    box-shadow: inset 200px 0 0 0 black;
}
.btnrm{
    background: transparent;
    border: none;
    color: white;

}