.navbar {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    box-shadow: 0 1px 3px -2px black;
    padding-bottom: 10px;
}

li {
    font-size: 20px;
    font-weight: 400;
    list-style: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    margin-left: 500px;
    margin-bottom: 0;
}

.nav-menu li a {
    text-decoration: none; /* Remove default underline */
    color: black; /* Default link color */
    padding: 10px; /* Add padding for better clickability */
}

.nav-menu li a.active {
    border-bottom: 2px solid red; /* Red underline for active link */
    padding-bottom: 8px; /* Space for the underline */
}

.donatebtn {
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    background-color: rgb(236, 38, 38);
    cursor: pointer;
    margin-top: 20px;
    color: white;
    font-weight: 700;
    margin: 0;
    transition: ease-out 0.7s;
}

.donatebtn:hover {
    box-shadow: inset 200px 0 0 0 black;
}
