.activities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-size: 20px;
}
.activity {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}
.activity::before {
    content: '✓';
    color: #d9231a;
    margin-right: 10px;
}
.aboutdhead{
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 5px;
    padding-bottom: 20px;
    font-weight: 700;
}
.aboutdcontent{
    font-size: 20px;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 25px;

}
.content1{
    margin-bottom: 100px;
}
